[submodule "libraries/libpng"]
	path = libraries/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "libraries/zlib"]
	path = libraries/zlib
	url = https://github.com/madler/zlib.git
[submodule "libraries/gtest"]
	path = libraries/gtest
	url = https://github.com/google/googletest.git
