[submodule "libs/libpng"]
	path = libs/libpng
	url = https://github.com/glennrp/libpng.git
    ignore = dirty
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib.git
    ignore = dirty
[submodule "libs/gtest"]
	path = libs/gtest
	url = https://github.com/google/googletest.git
    ignore = dirty
[submodule "libs/qemu"]
	path = libs/qemu
	url = https://github.com/qemu/qemu.git
    ignore = dirty
[submodule "libs/qemu_shell"]
	path = libs/qemu_shell
	url = https://github.com/tymion/qemu_shell.git
    ignore = dirty
